@import "tailwindcss";

:root {
    --font-family-sans: font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    --font-family-mono: "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace;

    --text: #eee;

    --background-color: hsla(0, 6%, 27%, 0.5);
    --backdrop-filter: blur(7px) saturate(120%);

    --tr-border-style: 2px solid #ffffff5b;

    --button-color: hsla(0, 0%, 100%, 0.1);
    --button-hover-color: #ffffff5b;
}

*,
html {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    background: url('/background.png') no-repeat center center/cover fixed;
    color: var(--text);
    font-family: var(--font-family-sans);
}

.background {
    background: var(--background-color);
    backdrop-filter: var(--backdrop-filter);
}

main {
    margin-right: calc(var(--spacing) * 16);
}

button:hover {
    cursor: pointer;
}

.custom-button svg {
    background-color: var(--button-color);
    padding: calc(var(--spacing));
    border-radius: var(--radius-xl);
    margin-left: calc(var(--spacing) * 3);
    margin-right: calc(var(--spacing) * 3);
    min-width: 32px;
    min-height: 32px;
    padding: 4px;
}

nav button {
    margin: calc(var(--spacing) * 2);
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-xl);
}

nav button.selected {
    background-color: var(--button-color);
}

.custom-button:hover svg,
nav button:hover {
    background-color: var(--button-hover-color);
}

nav {
    right: -141px;
    transition: all 0.7s ease;
}

nav.open,
nav:hover {
    right: 0;
}

@media (max-width: 640px) {
    main {
        margin-right: 0;
        padding-left: 8px;
        padding-right: 8px;
    }

    nav {
        right: -100%;
    }
}